.addNote{
    display:flex;
    flex-flow: row-reverse;
    margin-right: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.addButton {
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: 5px 10px;
}

.addButton:hover {
    opacity: 0.9;
}
