.addNote{
    display:flex;
    flex-flow: row-reverse;
    margin-right: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.addButton {
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 5px 5px #28282870;
}

.addButton:hover {
    opacity: 0.9;
}
